process {
	//executor = 'awsbatch'
	//queue = 'GSqueue'
	container = 'iandryrabe/gspipeline:latest'
    withName:bwaMapping {
        container = 'iandryrabe/gspipeline:latest'
    }
    withName:addReadGroups {
        container = 'iandryrabe/gspipeline:latest'
    }
	withName:markDups {
        container = 'iandryrabe/gspipeline:latest'
    }
	withName:baseRecal {
        container = 'iandryrabe/gspipeline:latest'
    }
	withName:applyBQSR {
        container = 'iandryrabe/gspipeline:latest'
    }
	withName:haplotypeCaller {
        container = 'iandryrabe/gspipeline:latest'
    }
}

docker {
    enabled = true
}

///////////////////////////////////////////////////////////////
//                                        _                  //
//   _ __   __ _ _ __ __ _ _ __ ___   ___| |_ ___ _ __ ___   //
//  | '_ \ / _` | '__/ _` | '_ ` _ \ / _ \ __/ _ \ '__/ __|  //
//  | |_) | (_| | | | (_| | | | | | |  __/ ||  __/ |  \__ \  //
//  | .__/ \__,_|_|  \__,_|_| |_| |_|\___|\__\___|_|  |___/  //
//  |_|                                                      //
//////////////////////////////////////////////////////////////

//params{

	// The help section
//	help = null

//}
